@*@using SuperAdminFCS.Models;*@

<aside class="main-sidebar" style="background-color: #000000;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        @*<div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>*@
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
       
@*         <ul class="sidebar-menu">*@
@*            $1$<li class="header">MAIN NAVIGATION</li>#1#*@
@*          @{*@
@*              using (var db = new FCSDataContext())*@
@*              {*@
@*                  var menus = db.Menus;*@
@*                  foreach (var menu_item in menus.Where(x => x.Parent_id == 0).OrderBy(x=>x.Sequence))*@
@*                  {*@
@*                      var currentUrl = Path.GetFileName(Request.Url.AbsolutePath);*@
@*                        *@
@*            <li class="treeview">*@
@*                <a href="#">*@
@*                    <i class="fa @menu_item.Icon"></i>*@
@*                    <span>@menu_item.Menu_name </span>*@
@*                    <span class="pull-right-container">*@
@*                        <i class="fa fa-angle-left pull-right"></i>*@
@*                    </span>*@
@*                </a>*@
@*              @{*@
@**@
@**@
@*                <ul class="treeview-menu">*@
@*                    @foreach (var items in db.Menus.Where(x => x.Parent_id == menu_item.id).OrderBy(x => x.Sequence))*@
@*                    {*@
@*                        string action = (items.Action == "Index") ? items.Controller : items.Action;*@
@*                        *@
@*                        //Debug.Write(action +"  "+currentUrl+ "  ");*@
@*                        *@
@*                        //keep the menu active*@
@*                        string active_class = (currentUrl == action) ? "active set-parent-open" : "";*@
@*                      @#1#Html.ActionLink(items.Menu_name, items.Action as String, items.Controller as String)<i class="fa fa-circle-o"></i> @items.Menu_name</a>#1#*@
@*                        <li class="@active_class"><a href="@Url.Action(items.Action,items.Controller)"><i class="fa fa-circle-o"></i> @items.Menu_name</a></li>*@
@*                    }*@
@*                </ul>*@
@*            }*@
@*            *@
@**@
@*               *@
@*            </li>*@
@*                  }*@
@*              }*@
@*            }*@
@*        </ul>*@
    </section>
    <!-- /.sidebar -->
</aside>
